# Frontend - Copia a .env
# URL del backend (FastAPI):
#   - Backend en local:          VITE_API_URL=http://localhost:8000
#   - Backend local vía ngrok:   VITE_API_URL=https://charmaine-endoperidial-creepingly.ngrok-free.app
VITE_API_URL=http://localhost:8000
