fastapi
pyjwt
bcrypt
python-multipart
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
httpx
langchain
langchain-community
langchain-google-genai
langchain-openai
langgraph
openinference-instrumentation-langchain
arize-phoenix-otel
numpy
python-dotenv
python-stdnum
requests
stripe
uvicorn[standard]
langdetect
dateparser
pydantic[email]
pymupdf
chromadb
langchain-chroma
langchain-ollama
langchain-text-splitters
arize-otel
openinference-instrumentation-langchain
opentelemetry-sdk
opentelemetry-exporter-otlp
locust>=2.0,<3
