fastapi
pyjwt
bcrypt
python-multipart
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
httpx
langchain
langchain-community
langchain-google-genai
langchain-openai
langgraph
numpy
python-dotenv
python-stdnum
requests
stripe
uvicorn[standard]
langdetect
dateparser
pydantic[email]
pymupdf
chromadb
langchain-chroma
langchain-ollama
langchain-text-splitters
